@media only screen and (min-width: 769px) {
    body{
        background-color: #303030;
    }
  
   
  .header li {
    display: inline;
    float: right;
  }
  
  .header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  

  
  .header li {
    display: block;
    color:orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .header li a:hover {
    background-color:white;
  }
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pic1.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .hero-text h1{
    font-size:50px;
  }
  
  .hero-text button {
    color: black;
    opacity: 0.4;
    border-color: white;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    text-align: center;
    cursor: pointer;
    
  }
  .services h1 {
    font-size: 40px;
    text-align: center;
    color:orange;
  }
  .services p {
     color:grey;
     text-align: center;
  }
  .grid-con {
    padding-left: 30px; 
    padding-right: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .grid-ele h2{
    font-size: 20px;
    color: white;
  }
  .grid-ele p{
    color:grey;
  } 
  .imgdesc p{
    color: white;
    padding-left: 80px;
    padding-right: 100px;
  }
  .imgdesc h2{
    color:orange;
    padding-top: 150px ;
    padding-left: 80px;
    
  }
  .imgdesc img{
    padding-left: 50px;
    padding-top: 100px;
    width: 550;
    height: 550;
  }
  .imgdesc li{
    color: white;
  }

  .desc1 h2{
    font-size: 20px;
    text-align: center;
  }

  .desc1 p{
    text-align: center;
  }
  .imgdesc{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 30px;

  }

  .imgdesc img{
    width: 550px;
    height: 500px;
  }
  .desc2 {
    padding-left: 100px;
    padding-top: 50px;
  }

  .desc2 h2{
    color: orange;
    font-size: 20px; 
    text-align: center;
  } 

  .desc2 p{
    text-align:center;
    padding-right:100px;
    color: white;
  }

  .imgdesc2 {
    display: grid;
    grid-template-columns: auto auto;
  }

  .imgdesc3{
    padding-right:50px;
  }

  .imgdesc3 img{
    width: 550px;
    height: 500px;
  }

  .embed-container{
    padding-inline-start: 80px;
    padding-top: 100px;
  }
  .grid-ups{
    color: orange;
    font-size: 100px;
  }
  .grid1{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left: 150px;
    padding-top: 100px;

  }
  .upstext{
    font-size: 20px;
    color: white;
    padding-left: 10px;
  }
  .team{
    padding-top: 50px;
  }
  .team h2{
    color: orange;
    padding-left: 500px;
    font-size: 60px;
  }
  .team p{
    font-size: 20px;
    color:grey;
    padding-left: 350px;
   padding-right: 200px;
   
  }

  .session-pricing h2{
    font-size: 60px;
  }
  .card1{
    background-color:#383838;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding-bottom: 30px;
  }

  .card1 a {
    text-decoration: none;
    padding: 3px 3px;
    font-size: 22px;
    color:white;
    background-color: orange;
    
  }

  .card1 h1{
    font-size: 17px;
    color: orange;
  }

  .card1 p{
    font-size: 12px;
    color: grey ;
   }

   .card1 img{
     padding: 20px 130px;
     max-width: 100px;
     max-height: 100px;
     border-radius: 50%;
     
   }

   .grid-team{
     display: grid;
     grid-template-columns: auto auto auto;
     padding-top: 100px;
   }

   .session-pricing h2{
    color: orange;
    padding-left: 400px;
  }
  .session-pricing p{
    font-size: 20px;
    color:grey;
    padding-left: 350px;
   padding-right: 200px;
  }

  .card2-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 50px;
    padding-left: 50px;
  }

.card2{
  background-color: #383838;
  max-width: 300px;
  max-height: 500px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.card2 h2{
  color: white;
  font-size: 35px;
}
.card2 h1{
  color: orange;
  font-size: 25px;
}

.card2 h1 p{
  color: white;
  font-size: 10px;
}

.card2 li{
  color: #C0C0C0;
  font-size: 20px;
}

.card2 button{
  background-color: orange;
  padding: 10px 10px;

}

.faq h2{
  color: orange;
  padding-top: 80px;
  font-size: 30px; 
}

.faq{
  text-align: center;
}

.qa h3{
  font-size: 25px; 
  color: orange;
}

.qa-grid{
  display: grid;
  grid-template-columns: auto auto;
  padding: 30px 30px
}


}

.grid-blog{
  display: grid;
  grid-template-columns: auto auto;
  padding:80px 80px;
}

.footer{

  color: #C0C0C0;
  display: grid;
  grid-template-columns: auto auto auto;
  padding:50px 100px;
}

.aboutus p{
  padding-right: 200px;
}

.features{
  padding-right: 150px;
}

.subs a{
  color: grey;
}


.card3 img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.contact{
  display: grid;
  grid-template-columns: auto auto;
}

.grid-testi{
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 180px;
  padding-right: 100px;
  
}

.testl{
  text-align: center;
  color: orange; 
  font-size: 40px;
}

.testi-img{
  padding-left: 70px;
}


.testi-img img{
  border-radius: 50%; 
  width: 100px; 
  height: 100px;
}

.testi-desc p{
  background-color:#383838; 
  font-style: italic; 
  width: 200px; 
  padding: 30px 30px;
  color:white

}
.lbp p{
  text-align: center; 
  color: white; 
  font-size: 15px;
  padding-top: 100px;
}
.lbp h2{
  text-align: center; 
  color: orange; 
  font-size: 35px;
}
.blo{
  display: flex; 
  justify-content: space-around;
}
.blog{
  padding-left: 30px;
}
.blog img{
  height:400px; 
  width:500px;
}
.blog h2{
  color: orange; 
  font-size: 30px;
}
.blog h4{
  color:grey; 
  font-size:15px;
}
.blog p{
  color: white;
  font-size: 15px; 
  padding-right: 40px;
}
.gin p{
  color:white; 
  font-size:15px; 
  text-align: center; 
  padding-top: 100px;
}

.cm p{
  text-align: center; 
  font-size: 35px; 
  color: orange;
}
.contact{
  padding-bottom: 50px;
}
.fname input{
  color: white;
  background-color: #383838;
  padding: 12px 20px;
  margin: 8px 4px;
  border-radius: 10px;
}
.email input{
  color: white;
  background-color: #383838;
  padding: 12px 20px;
  width: 380px;
  margin: 8px 4px;
  border-radius: 10px;
}
.wym textarea{
  color:white;
  background:#383838;
  margin:8px 4px; 
  width:420px;
  height: 200px;
  border-radius: 10px;
}
.button{
  background-color: orange; 
  color: white; 
  padding: 15px 30px; 
  text-align: center; 
  font-size: 15px;
  border-radius: 10px;
}
.knowmore{
  padding-left:300px ;
  padding-right: 150px;
}
.knowmore h2{
  color: orange;
}
.gs{
  background-color: orange; 
  color: white; 
  padding: 15px 30px; 
  text-align: center; 
  font-size: 15px;
  border-radius: 10px;
}
.footcl{
  background-color: #383838; 
  padding-top: 50px;
}
.aboutus h2{
  font-size: 18px; 
  color: white;
}
.aboutus p{
  color: white; 
  font-size: 18px;
}
.features h2{
  font-size: 22px; 
  color: white
}
.features ul{
  color: white; 
  font-size: 18px;
}
.subs h2{
  color: white; 
  font-size: 18px;
}
.subs input{
  color:white;
  background:#383838;
  height: 30px;
}
.subs button{
  background-color: orange; 
  color: white; 
  padding: 12px 24px; 
  text-align: center; 
  font-size: 12px;
}
.footcl p{
  color: white;
  font-size: 15px; 
  padding-top: 100px; 
  text-align: center; 
  padding-bottom: 100px;
}







@media only screen and (max-width: 768px) {

  .body{
    background-color: #303030;
}
  .header{

    background-color: #333;

 }

 .hero-image {
  
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pic1.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .header li {
    display: inline;
    float: right;
  }
  .header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  .header li {
    display: block;
    color:orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .services h1 {
    font-size: 40px;
    text-align: center;
    color:orange;
  }
  .services p {
    color:grey;
    text-align: center;
 }
 .grid-ele h2{
  font-size: 20px;
  color: orange;
}
.grid-ele p{
  color:grey;
} 
.imgdesc img{
  padding:50;
  height:300px;
  width:250px;
}
.imgdesc3 img{
  width: 300px;
  height: 250px;
}
.grid1{
  display: grid;
  grid-template-columns: auto auto;
}
.card1 img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}








}
